{{ header }}{{ column_left }}
<div id="content">
    <div class="section-plaza-engine">
        <div class="top-menu-bar">
            <ul class="menu-items">
                {% for item in menu_items %}
                    <li><a href="{{ item.href }}">{{ item.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="container-fluid">
            <div class="header-engine">
                <div class="pull-right">
                    <button type="submit" form="form-content" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                    <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
                </div>
                <h2>{{ heading_content_builder }}</h2>
            </div>
            <div class="body-engine">
                {% if error_warning %}
                    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                {% endif %}
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-content">
                    aaaa
                </form>
            </div>
        </div>
    </div>
</div>
{{ footer }}
