{{ header }}{{ column_left }}
<div id="content">
    <div class="section-plaza-engine">
        <div class="top-menu-bar">
            <ul class="menu-items">
                {% for item in menu_items %}
                    <li><a href="{{ item.href }}">{{ item.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="container-fluid">
            <div class="header-engine">
                <div class="pull-right">
                    <a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
                    <button type="button" form="form-product" formaction="{{ delete }}" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-content').submit() : false;"><i class="fa fa-trash-o"></i></button>
                </div>
                <h2>{{ heading_content_builder }}</h2>
            </div>
            <div class="body-engine">
                {% if error_warning %}
                    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                {% endif %}
                <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-content">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                                    <td class="text-left">{% if sort == 'pcd.name' %} <a href="{{ sort_name }}" class="{{ order|lower }}">{{ column_name }}</a> {% else %} <a href="{{ sort_name }}">{{ column_name }}</a> {% endif %}</td>
                                    <td class="text-left">{% if sort == 'pc.status' %} <a href="{{ sort_status }}" class="{{ order|lower }}">{{ column_status }}</a> {% else %} <a href="{{ sort_status }}">{{ column_status }}</a> {% endif %}</td>
                                    <td class="text-right">{{ column_action }}</td>
                                </tr>
                            </thead>
                            <tbody>
                            {% if plaza_contents %}
                                {% for content in plaza_contents %}
                                <tr>
                                    <td class="text-center">{% if content.content_id in selected %}
                                            <input type="checkbox" name="selected[]" value="{{ content.content_id }}" checked="checked" />
                                        {% else %}
                                            <input type="checkbox" name="selected[]" value="{{ content.content_id }}" />
                                        {% endif %}</td>
                                    <td class="text-left">{{ content.name }}</td>
                                    <td class="text-left">{{ content.status }}</td>
                                    <td class="text-right"><a href="{{ content.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a></td>
                                </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td class="text-center" colspan="4">{{ text_no_results }}</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{ footer }}
